{% extends "base.html" %}
{% block title %} Prompt-To-Page {% endblock %}
{% block content %}
<div class="fluid-container d-flex" style="height: 92vh;">
<div class="d-flex justify-content-center align-items-center w-50 h-100 border">
  <form class="mb-5 text-center w-75 shadow-lg p-3 mb-5 bg-body-tertiary rounded" method="post">
    <h3 class="mb-4">Generate Book</h3>
    <input type="text" class="form-control mb-4" name="topic" placeholder="Enter Topic" pattern="[A-Za-z ]+" required>
    <input type="text" class="form-control mb-4" name="chapters" placeholder="Enter Number of Chapters" pattern="[1-9]+" required>
    <input type="text" class="form-control mb-4" name="subchapters" placeholder="Enter Number of Subsections" pattern="[1-9]+" required>
    <div class="d-flex justify-content-center">
    <button type="submit" class="btn btn-primary w-100">Generate</button>
    </div>
  </form>
</div>
<div class="d-flex justify-content-center align-items-center w-50 h-100 border">
  <embed class="pdf" src="{{url_for('static', filename='book.pdf')}}" alt="PDF OUTPUT" width="800" height="100%">
  </embed>
</div>
</div>
<style>
  .pdf {
      width: 100%;
      aspect-ratio: 4 / 3;
  }
  .pdf,
  html,
  body {
      height: 100%;
      margin: 0;
      padding: 0;
  }
 h1,
  h3 {
      text-align: center;
  }

  h1 {
      color: green;
  }
</style>
{% endblock %}